/* RESCUE ----------------------------------------------------------------- */
#page-safety-rescue {
	.emergency-phone {
		figure img {
			filter: saturate(0.7) contrast(0.8) brightness(1.2);
		}

		.box strong {
			font-size: 180px;
			text-align: center;
			display: block;
		}
	}

	.distress {
		article { padding: 0 30px; }

		&__helicopter {
			figure {
				display: inline-block;
				margin: 0;
				text-align: center;
			}

			svg {
				height: 230px;
				width: 180px;
			}
		}

		&__sos {
			margin: 50px auto;
			font-size: 7em;
			text-align: center;
			font-weight: bold;
			font-family: 'Futura', 'Arial', sans-serif;
		}
	}

	[data-morse-beep] {
		position: relative;
		display: inline-block;

		&::before {
			position: absolute;
			content: attr(data-morse-beep);
			display: block;
			opacity: 0.5;
		}

		&:nth-child(1)::before { animation: morse-beep-s1 15s linear 2s infinite; }
		&:nth-child(2)::before { animation: morse-beep-o 15s linear 2s infinite; }
		&:nth-child(3)::before { animation: morse-beep-s2 15s linear 2s infinite; }
	}
}

@mixin morse-beep-s($start) {
	0% { transform: scale(1); }
	#{$start}% { transform: scale(1); }
	#{$start + 1.25}% { transform: scale(1.5); }
	#{$start + 2.5}% { transform: scale(1); }
	#{$start + 3.75}% { transform: scale(1.5); }
	#{$start + 5}% { transform: scale(1); }
	#{$start + 6.25}% { transform: scale(1.5); }
	#{$start + 7.5}% { transform: scale(1); }
}

@keyframes morse-beep-s1 { @include morse-beep-s(1.25); }
@keyframes morse-beep-s2 { @include morse-beep-s(31.25); }
@keyframes morse-beep-o {
	0% { transform: scale(1); }
	12.5% { transform: scale(1); }
	13.75% { transform: scale(1.5); }
	16.25% { transform: scale(1.5); }
	17.5% { transform: scale(1); }
	18.75% { transform: scale(1.5); }
	21.25% { transform: scale(1.5); }
	22.5% { transform: scale(1); }
	23.75% { transform: scale(1.5); }
	26.25% { transform: scale(1.5); }
	27.5% { transform: scale(1); }
}

/* EQUIPMENT -------------------------------------------------------------- */
#page-safety-equipment {
	.header {
		height: 730px;
		background: url('/assets/images/trekking_gear.png') no-repeat left center;
		background-size: 100%;
		margin: 0 -48px !important;
		filter: saturate(0.8);
	}
}

/* HYPOTHERMIA ----------------------------------------------------------- */
#page-safety-hypothermia {
	.animation {
		flex: 1;
		display: flex;

		svg { height: 770px; }

		&__container {
			display: flex;
			flex-direction: column;

			aside { margin-top: auto; }
		}

		&__temperature {
			font-size: 160px;
			text-align: center;
			font-weight: bold;
		}

		&__symptoms {
			margin-left: $size-xxxl;

			li {
				font-size: $size-m;
				font-weight: bold;
				margin: $size-m 0;
				opacity: 0.5;
			}
		}
	}
}
